.table{
    border: 2px solid;
    border-collapse: collapse;
    margin: 5% 30% 5% 40%;
    
  }
tr{
    
    border: 5px solid;
    background-color: rgb(202, 245, 245);
   
    border-color: brown;
}
td{
    border: 5px solid;
    border-color: rgb(112, 163, 133);
}
th{
    border: 5px solid;
    border-color: blueviolet;
}
table td{
    padding: 10px 5px 10px 5px;
}
table th{
    padding: 10px 5px 10px 5px;
}